.create-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 120px); 
    padding-top: 80px; 
    padding-bottom: 50px; 
    background: linear-gradient(135deg, #75e3ff, #7e8bff);
  
  }
  
  .create-note-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  textarea, input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #2d2b2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background-color: #444;
  }
  
  .access-link-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .access-link-container input {
    width: 300px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background: #f1f1f1;
    border: none;
  }
  
  .access-link-container button {
    margin-top: 5px;
  }
  